body {    
    background-image: url("/assets/images/sfondo.jpg");
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}